[submodule "bundles/vim-rails"]
	path = bundles/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundles/vim-cucumber"]
	path = bundles/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundles/vim-vividchalk"]
	path = bundles/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundles/vim-haml"]
	path = bundles/vim-haml
	url = git://github.com/tpope/vim-haml.git
