[submodule "bundles/vim-rails"]
	path = bundles/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundles/vim-cucumber"]
	path = bundles/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundles/vim-vividchalk"]
	path = bundles/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundles/vim-haml"]
	path = bundles/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/vim-endwise"]
	path = bundles/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundles/vim-surround"]
	path = bundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
